<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        tools:targetApi="31">


        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />



        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!-- Diğer aktiviteler -->
        <activity
            android:name=".activities.DashboardActivity"
            android:exported="false"
            android:label="Dashboard"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.WaterTrackingActivity"
            android:exported="false"
            android:label="Water Tracking"
            android:parentActivityName=".activities.DashboardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ExerciseActivity"
            android:exported="false"
            android:label="Exercise Tracking"
            android:parentActivityName=".activities.DashboardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.NutritionActivity"
            android:exported="false"
            android:label="Nutrition Tracking"
            android:parentActivityName=".activities.DashboardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ViewExercises"
            android:label="@string/view_exercises" />

        <activity
            android:name=".activities.PersonalCalculationActivity"
            android:label="@string/personal_health" />

        <activity
            android:name=".activities.ResetPasswordActivity" />

    </application>

</manifest>
